/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/



body {
  font-family: Ubuntu;
  background: linear-gradient(90deg,#1d184e 0,#932177 50.52%,#c82782 100%);
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

._container {
  max-width: 70%;
  margin: 0px auto;
  box-sizing: content-box
}
._container-two {
  max-width: 60%;
  margin: 0px auto;
  padding: 1.5rem 20px 16px;
  box-sizing: content-box
}
@media (max-width: 1150px) {
  ._container,
  ._container-two {
    max-width: 97%;
  }
}
/* ========================================================================HEADER================================================================================ */
.header {
  position: fixed;
  z-index: 100;
  background: #222020;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25);
  width: 100%;
  height: 50px;
  top: 0;
  padding: 0.3125rem 0;
  min-height: 3.125rem;
  display: flex;
  align-items: center;
}
.header__container {
  padding: 0px 15px 0px 15px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;

}
.menu {
}
.menu__list {
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 1250px) {
  .menu__list {
    gap: 1.5rem;
  }
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__link {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.header__actions-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
@media (min-width: 1000px) {
  .header__actions-menu {
    display: none;
  }
}
.header__logo {
  padding-right: 70px;
  position: relative;
  z-index: 5;
}

.header__logo img {
  max-width: 6rem;
  height: 100%;
}
@media (max-width: 1000px) {
  .header__logo {
    padding: 0;
    margin: 0 auto;
  }
}
.header__actions {
  padding-right: 120px;
  display: flex;
  gap: 1.7rem;
}
@media (max-width: 1000px) {
  .header__actions {
    display: none;
  }
}
.button {
}
.button_sign-up {
  display: inline-block;
  padding: 0.4375rem 1rem;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.25rem;
  color: #000;
  transition: all .15s ease-in;
  text-align: center;
  min-width: 0.0625rem;

  background: #3aa188;
  color: white;
}
.button_sign-in {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 1.25rem;
  color: #000;
  transition: all .15s ease-in;
  text-align: center;
  min-width: 0.0625rem;

  border: 3px solid #3aa188;
  color: white;
  padding: 0.25rem 1.875rem;
  background: #222020;
}


/* Burger */

.menu__icon {
  display: none;
}
@media (max-width: 1000px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    border-radius: 0.5rem;
    width: 100%;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-47deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    position: fixed;
    display: flex;
    gap: 30px;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu._active {
    left: 0;
  }
  .header__menu::before {
    content: '';
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #222020;
    height: 50px;
  }
  .menu__list {
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .menu__link {
    font-size: 24px;
  }
}

/* ================================page__promo======================================================================================================================== */
.page__promo {
}
.promo {
  margin-top: 80px;
}
.promo__container {
}
.promo__row {
}
.promo__title {
  text-align: center;
  color: #ffffff;
  font-size: 2rem;
  line-height: 1.875rem;
  font-weight: 500;
}


/* ===============================================page__bonus========================================================================================================= */

.page__bonus {
}
.bonus {
  padding-top: 30px;
}
.bonus__container {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 900px) {
  .bonus__container {
    flex-direction: column;
  }
}
.bonus__statistics {
  flex: 1 0 50%;
}
.statistics-bonus {
  padding: 22px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:space-around;
  background: #55100d85;
}
@media (max-width: 900px) {
  .statistics-bonus {
    padding-bottom: 50px;
  }
}
@media (max-width: 500px) {
  .statistics-bonus {
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
  }
}
.statistics-bonus__logo {
}
.statistics-bonus__logo img {
  max-width: 200px;
  height: 100%;
}
.statistics-bonus__raiting {
}
.statistics-bonus__feature {
  text-align: center;
  margin: 5px 0;
}
.statistics-bonus__label {
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}
.statistics-bonus__stars {
}
.statistics-bonus__stars span::before {
  content: '★';
  font-size: 20px;
}
.stars {
  color: lightgrey;
}
.stars-active {
  color: gold;
}
.statistics-bonus__present {
  position: absolute;
  right: -34px;
  top: 46px;
  border-radius: 50%;
  left: unset;
  background-color: #e8c288;
}
@media (max-width: 900px) {
  .statistics-bonus__present  {
    top: 163px;
    right: 15px;
  }
}
@media (max-width: 500px) {
  .statistics-bonus__present  {
    top: 225px;
  }
}
.statistics-bonus__present img {
  width: 68px;
  height: 68px;
  border-radius: 45%;
  box-shadow: 0 1px 8px rgba(0,0,0,.4);
}
.bonus__draw {
  flex: 1 0 50%;
  padding: 15px 15px 15px 50px;
  background-color: #222020;
}
.draw-bonus {
}
.draw-bonus__label {
  font-size: 16px;
  line-height: 16px;
  color: #7b7b7b;
  text-align: left;
  font-weight: 800;
}
.draw-bonus__box {
}
.draw-bonus__active {
  border: 2px dashed #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  position: relative;
  margin: 14px 0;
  line-height: 45px;
  text-align: center;
}

.draw-bonus__button {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #3aa188;
  border-bottom: 2px solid #55051d;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  text-decoration: none;
}
.draw-bonus__button:hover {
  text-decoration: none;
  background-color: #d6bd61;
  color: #fff;
}
/* ===============================================.page__present========================================================================================================= */

.page__present {
}
.present {
  margin-top: 20px;
}
.present__container {
  background: #ffffff5c;
}
.present__body {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 900px) {
  .present__body {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
}
.present__bonus {
}
.bonus-present {
}
.bonus-present img {
  max-width: 100%;
}
@media (max-width: 900px) {
  .bonus-present {
    position: absolute;
    left: 15px;
    transform: scale(.85);
  }
}
@media (max-width: 600px) {
  .bonus-present {
    display: none;
  }
}
.bonus-present__label {
  font-size: 20px;
  color: #45afa3;
  font-weight: 600;
}
.present__copy {
  padding-left: 10px;
  max-width: 60%;
}
@media (max-width: 900px) {
  .present__copy {
    text-align: center;
    max-width: 90%;
    margin: 10px 0 20px auto;
  }
}
@media (max-width: 600px) {
  .present__copy {
    margin: 0;
  }
}
.present__title {
  color: #ffffff;
  font-weight: 600;
  font-size: 23px;
  line-height: 1.9rem;
}
@media (max-width: 900px) {
  .present__title {
    text-align: center;
  }
}
.present__title:hover {
  color: #ff1876;
}
.present__text {
  padding-top: 12px;
  font-size: 17px;
  line-height: 1.9rem;
}
.present__actions {
}
.present__button {
  margin-left: 10px;
  padding: 18px 40px;
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
  background: #3aa188;
  text-align: center;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all .15s ease;
}
.present__button:hover {
  background-color: #d6bd61;
}

/* ======================================================================================================================================================== */


.page__table {
}
.table {
  margin-top: 15px;
}
.table__container {
  background: #ffffff52;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.std-table td, .std-table th {
  color: #fff;
  line-height: 1.4;
  border: 1px solid #626262;
  padding: 10px;
  font-size: 13px;
  word-break: break-word;
}
.std-table th {
  padding: 10px;
  text-align: left;
  max-width: 30%;
  width: 200px;
}

.std-table td {
  text-align: right;
}

/* ======================================================================================================================================================== */
.page__faq {
}
.faq {
  padding-top: 30px;
}
.faq_container {
  background: #222020b0;
}
.faq_textwrapper {
}
.textwrapper-faq {
}
.textwrapper-faq__body {
  padding: 35px;
  background: #f6f6f62e;
}
.textwrapper-faq__list {
}
.textwrapper-faq__item {
  padding: 5px;
}
.textwrapper-faq__item a{
  color: #fff;
  font-size: 16px;
}
.textwrapper-faq__item a:hover{
  color: #ff3a1a;
}
.faq_body {
}
.body-faq {
}
.body-faq__text {
  padding-top: 15px;
  color: #fff;
  font-size: 15px;
  line-height: 1.4;
}
.body-faq__title {
  color: #e27575;
  font-weight: 600;
  font-size: 20px;
  padding-top: 20px;
}
.body-faq__images {
  padding-top: 15px;
text-align: center;
}
.body-faq__images img {
  max-width: 100%;
}
.body-faq__list {
}
.body-faq__item {
}
.body-faq__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 rgba(55, 141, 250, .8);
}
100% {
    box-shadow: 0 0 0 30px rgba(55, 141, 250, 0);
}
}
.body-faq__button {
  margin-top: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 335px;
  padding: 0px 10px 0px 10px;
  height: 30px;
  background: #222020;
  animation: shadow 2s cubic-bezier(0.44, 1.02, 0.05, -0.49) infinite;
  text-align: center;
  animation: shadow 2s cubic-bezier(0.44, 1.02, 0.05, -0.49) infinite;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.title-faq {
  color: #fff;
  font-size: 17px;
}

/* =================================================.footer======================================================================================================= */
.footer {
  padding-top: 20px;
  
}
.footer__container {
  padding: 0px 10px 0px 10px;
  text-align: center;
  background: #222020;
}
.footer__list {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 40px;
}
.footer__item {
}
.footer__link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
.footer__row {
  color: #bdbdbd;
  font-size: 14px;
  padding-top: 10px;
}
.footer__ru {
  padding-top: 15px;
}
.footer__ru a{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}