/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/

html,
body {
  height: 100%;
}

body {
  font-family: Roboto;
  color: #fff;
}
body._lock {
  overflow: hidden;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.page {
  flex-grow: 1;
}
._container {
  max-width: 1200px;
  padding: 0px 10px 0px 10px;
  margin: 0px auto;
  box-sizing: content-box
}

/* ========================================================================HEADER================================================================================ */
.header__top {
  background-color: #1c0836;
  overflow: hidden;
  width: 100%;
  min-height: 29px;
}
@media (max-width: 767px) {
  .header__top {
    display: none;
  }
}
.header {
  z-index: 100;
  background-color: #280750;
  box-shadow: 0 0.25rem 0.25rem rgba(0,0,0,.25);
  width: 100%;
  top: 0;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
@media (max-width: 1200px)  {
  .header__container {
    min-height: 60px;
  }
}
.header__bottom {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  display: flex;
}
.menu {
}
.menu__list {
  display: flex;
}
.item-new::before,
.item-top::before {
  font-weight: 700;
  position: absolute;
  font-size: 10px;
  line-height: 10px;

  display: inline-block;
  top: 14px;
  right: 1px;
  padding: 2px 7px;
  border-radius: 8px;
}
.item-new,
.item-top {
  position: relative;

}
.item-new::before {
  content: "New";
  color: #5b9765;
  background-color: #e6f5e9;
}
.item-top::before {
  content: "Top";
  color: #d63031;
  background-color: #fec3c4;
}
.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__link {
  color: #fff;
  text-align: center;
  padding: 31px 16px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  border-bottom: 2px solid rgb(214, 48, 49, 0);
  transition: all 0.3s;
}
.menu__link:hover {
  color: #d63031;
  border-bottom: 2px solid rgb(214, 48, 49, 1);
}


.header__actions-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;

}
@media (min-width: 1200px) {
  .header__actions-menu {
    display: none;
  }
}
.header__logo {
  padding-right: 70px;
  position: relative;
  z-index: 5;
}
@media (max-width: 1200px) {
  .header__logo {
    flex-grow: 1;
  }
}
.header__logo img {
  max-width: 6rem;
  height: 100%;
}
.header__search {
  padding-right: 15px;
}

/* Burger */

.menu__icon {
  display: none;
}
@media (max-width: 1200px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    border-radius: 0.5rem;
    width: 100%;
    transition: all 0.3s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-47deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    position: fixed;
    display: flex;
    gap: 30px;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(14, 13, 13, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu._active {
    left: 0;
  }
  .header__menu::before {

  }
  .menu__list {
    padding-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .item-new::before,
  .item-top::before {
    top: -3px;
    right: -23px;
}
  .menu__link {
    padding: 15px 0px;
    font-size: 24px;
  }
}

/* ================================page__space======================================================================================================================== */
.page__space {
  background: linear-gradient(45deg, #000, #1c0836);
  padding-bottom: 60px;
}
.space {
}
.space__container {
}
._container {
}
.space__top {
}
.top-space {
}
.top-space__title {
  padding-top: 10px;
  text-align: center;
  font-weight: 700;
  font-size: 3.157em;
  line-height: 1.2em;
}   
@media (max-width: 480px) {
  .top-space__title {
    font-size: 1.777em;
  }
}
.top-space__image {
  display: flex;
  justify-content: center;
}
.top-space__image img {
  max-width: 100%;
}
.top-space__bonus {
}
.top-space__bonus p {
  line-height: 1.65em;
  padding-bottom: 1.45em;
  font-size: 16px;
  text-align: center;
}
.top-space__bonus p span {
  font-weight: 600;
}
.top-space__actions {
  display: flex;
  flex-direction: column;
  gap: 1.45em;
  justify-content: center;
}
.top-space__registration,
.top-space__sing-in {
  margin: 0 auto;
}
.top-space__registration a{
  background-color: #ff367c;
  color: #ffffff;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 15px;

  font-size: 24px;
  padding: 11px 13px;
  line-height: 33px;
}
.top-space__sing-in a{
  background-color: #b4b3c2;
  color: #ffffff;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  align-items: center;

  font-size: 24px;
  padding: 11px 13px;
  line-height: 33px;
}
.space__bottom {
}
.bottom-space {
}
.bottom-space__title {
  padding-top: 23px;
  padding-bottom: 23px;
  font-weight: 700;
  font-size: 2.369em;
  line-height: 1.2em;
}
@media (max-width: 480px) {
  .bottom-space__title {
    font-size: 1.777em;
  }
}
.bottom-space__text {
  line-height: 1.65em;
  padding-bottom: 1.45em;
}
/* =================================================.footer======================================================================================================= */
.footer {
  background-color: #111;
  padding-top: 20px;
}
.footer__container {
  display: flex;
  padding: 30px 0px;
}
@media (max-width: 767px) {
  .footer__container {
    gap: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.footer__row {
  width: 50%;
  color: #777;
  font-size: .75em;
  line-height: 1.25em;
  font-weight: 400;
}
@media (max-width: 767px) {
  .footer__row {
    width: 100%;
    text-align: center;
  }
}
.footer__img {
}